@{
    ViewBag.Title = "关于Online Store项目";
}
<h3>Online Store 项目简介</h3>
<p>
    Online Store是一个基于.NET开发的企业级应用程序，目的在于演示领域驱动设计在.NET开发中的应用。
    Online Store以在线零售为业务背景，从各个技术层面展示了.NET企业级应用程序的架构设计，希望它能够
    给社区朋友带来一定的帮助。
</p>
<h3>当前版本号</h3>
<p>
    V0.1
</p>
<p>
    
</p>
