<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_IProductService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8003/OrderService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderService.IOrderService"
                name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:8003/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
        </client>
    </system.serviceModel>
</configuration>